
@import '@fortawesome/fontawesome-free/css/all.css';

*{
    margin: 0;
    padding: 0;
    list-style: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}


.side-nav-container{

    background-color: aqua;
    float: left;
    width: 300px;
    height: 100%;



}

nav{
    display: flex;
    flex-direction: column;
    gap: 10rem;
    border: 1px solid black;

    padding: 70px 10px;



}

.inbox{
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;

}


.inbox button{
    display: flex;
    gap: 0.8rem;
    background-color: transparent;

    font-size: 20px;
    text-align: left;

}

i{
    font-size: 50px;
}

.my-projects{
    height: 100%;
}


.my-projects{
    border: 1px solid black;
}