@import '@fortawesome/fontawesome-free/css/all.css';

* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
:root {
  --primary-color: #213363;     /* Background color of the side bar */
  --secondary-color: #17594A;   /* Button color */
  --accent-color: #FFD700;      /* Accent color for animations */
}
input {
  outline: none;
}

.side-nav-container{
  background-color: darkblue;
  width: 25%;
  height: 100vh;
  float: left;
}

nav {
  padding-top: 70px;
  background-color: aliceblue;
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 5rem;
  flex-direction: column;
  
}

.inbox , .projects-button { 
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  background-color: #17594A;
  width: 85%;
  margin: 0 auto;

}

.project-nav input, .container-of-project-task input {
  
  height: 35px;
  border-radius: 7px;
  font-size: large;
  

}
.project-nav button, .container-of-project-task button {
  padding: 10px;
  border-radius: 7px;
}

.inbox button, .projects-button button{
  display: flex;
  background-color: transparent;
  gap: 0.5rem;
  font-size: larger;

}

.projects-button {
  background-color: #213363;
  display: flex;
  justify-content: space-between;
  
}
.projects-button button {
  display: flex;
  align-items: center;
}
.projects-button button:hover{
  color: pink;
}

#adding-project {
  font-size: 30px;

}

.active {
  background-color: white;
}

.list-and-tasks-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-top: 30px;
  width: 90%;
  
}

.my-projects{
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1.2rem;
  align-items: center;
}

.list {
  background-color: #17594A;
  border-radius: 5px;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* justify-content: center; */
  align-items: center;
}
.container-of-project-task{
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.task-of-proj.set-active{
  padding: 5px;
  font-size: 25px;
  text-align: left;
  width: 100%;
  border-radius: 7px;
}
.project-nav{
    
    
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.3rem;
    width: 100%;
}

.project-nav input,.container-of-project-task input {
  margin-right: auto;
  width: 100%;
  min-width: 70px;
}

.container-of-project-task {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 0.5rem;
}
.project-nav h3 {
  margin-right: auto;
  font-size: 25px;
}

.project-nav button, .container-of-project-task button{
  width: 45px;
  border-radius: 10px;
}